<% @page_title = "レース 新規結果登録" %>
<h1><%= @page_title %><h1>

<div class="container">
<%= form_for @raceresult do |form| %>
<%= render "form", form: form %>
<p><%= form.submit "登録", class: "btn btn-default btn-warning" %></p>
<% end %>
<%= link_to '戻る', raceresults_path , class: "btn btn-default btn-primary" %>
</div>	
