<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title>Asagao</title>

    <!-- Bootstrap -->
    <link href="/boot/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/boot/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "rails", "application" %>

  <div id ="container">
    <div id="nav">
      <table class="table">
        <% if current_user %>
          <div class="row">
            <div class="col-sm-12">
            <div class="btn-group">
              <%= link_to "パスワード変更", edit_user_path(current_user.id), class: "btn btn-default btn-info" %>
              <%= button_to "ログアウト", :logout, method: :post,            class: "btn btn-default btn-info" %>
            </div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-sm-12">
            <div class="btn-group">
              <%= link_to "新規登録", new_user_path, class: "btn btn-default btn-info" %>
              <%= link_to "Login", :login, class: "btn btn-default btn-info" %>
            </div>
            </div>
          </div>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>

    <br>
    <%= link_to 'トップへ', top_path , class: "btn btn-default btn-primary" %>

  </div>
  <%= csrf_meta_tag %>
  </body>
</html>
