<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
  	<table class="table table-striped table-borderd">
		<tr>
			<th><%= label_tag :email %></th>
			<td><%= text_field_tag :email %></td>
		</tr>
    <tr>
      <th><%= label_tag "パスワード" %></td>
      <td><%= password_field_tag :password %></td>
    </tr>
    </table>
  </div>
  <div class="actions">
    <%= submit_tag "Login", class: "btn btn-default btn-warning"%>
  </div>
<% end %>
